/*game window and snake styles, consider adding reset and normalize files into styles directory*/

.window {
  width: 600px;
  height: 600px;
  background-color: lightgray;
}

.cell-square {
  width: 5%;
  height: 5%;
  float: left;
  background-color:  lightpink;
}

.snake {
  background-color: black;
}

.dead-snake {
  background-color: red !important;
}

.food {
  background-color: black;
  border-radius: 30px;

}
